<div class="footer">
    <div>
        <strong>Copyright</strong> GHR I & T &copy; 2025  Todos los derechos reservados.
        <a href="https://www.ghrinvestments.app/aviso-de-privacidad" target="_blank">Política de Privacidad</a>
    </div>
</div>
