<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] GHR I & T</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
</head>
<body class="gray-bg">
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="jumbotron text-center">
        <h1>GHR INVESTMENTS & TRADING</h1>
        <h3>¡Verifique su correo electrónico para completar el registro!</h3>
        <p> Hola @ViewBag.Name @ViewBag.LastName, <strong>Bienvenido a GHR Investments and Trading, </strong><br/>
            para terminar de configurar su acceso al sistema, será necesario hacer dos pasos
            muy simples: <br/>
            1.- Definir una contraseña de acceso segura y <br/>
            2.- Configurar tres preguntas de seguridad para recuperar su contraseña en caso
            de que la olvide. <br/>
            Ambos pasos le tomarán menos de 2 minutos..
        </p>
        <p> Puede solicitar un nuevo enlace de verificación haciendo clic en el siguiente botón:</p>
        <p>
            <a href="" role="button" class="btn btn-primary btn-lg">Reenviar</a>
        </p>
    </div>
</div>
</body>
</html>