@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<!DOCTYPE html>

<html lang="es">
<head>
    <title>Dashboard View</title>
</head>
<body>
<div>
    <h2>Dashboard View</h2>
</div>
</body>
</html>