@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "GHR I & T";
}

<!DOCTYPE html>

<html>
<head>
    <title>Retiros</title>
</head>
<body>
<div>
      <h1>Retiros</h1>
</div>
</body>
</html>